
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>Search and Add A Food</p>
<div id="userAddFood">
    <div>Add A Food</div>
    <div>Log Meals</div>
    <div>Add A Meal</div>
    <div>My Quick Meals</div>
</div>