/*********************/
/**** Login Styles ***/
/*********************/
/**{
    border: 1px solid red;
}*/

body {
    background-attachment: fixed;
}
#container {
    width: 33%;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.4);
}
.form-field{
    margin-bottom: 20px;
}

.error-msg{
    color: red;
}

