body {
    font-family: 'Montserrat';
}
div.container{
    
}

#1 {
    grid-area: nav;
}

    #2 {
        background-color: #5bc0de;
        font-size: 3.2rem;
        list-style: none;
    }

        #2 li a {
            color: white;
        }

        #2-alt li div a {
            color: darkslategrey;
            padding-left: 1rem;

        }

ul#navigation > li > a:focus {
    background-color: #5bc0de;
}

ul#navigation > li > a:hover {
    background-color: #5bc0de;
}

ul#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-style: initial;
    position: relative;
}

#home {
    color: #fff;
    font-family: 'Lora';
    font-size: 3.5rem;
}
