body {
    background: url("../images/edit_view_profile.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    font-family: 'Montserrat';
}

.user-profile {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4rem;
}

.profile-content {
    margin-top: 2rem;
}

div > text {
    font-size: 1.8rem;
}

div > text:first-child {
    font-weight: 700;
}