/****************/
/** Background **/
/****************/

#recentFoods {
    background: url("../images/recent_foods.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

h2 {
    font-size: 3rem;
}

th {
    text-align: center;
}