

body {
    background: url("../images/login_register.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    font-family: 'Montserrat';
}

#register-content {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4rem;
}

.register-field {
    margin-top: 2rem;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 2rem;
}