/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Montserrat';
    background: url("../images/home.jpg");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
}

h1 {
    font-weight: 800;
    font-size: 6rem;
}

header, #subheading {
    text-shadow: 
       -1px -1px 0 #fff, 
        1px -1px 0 #fff, 
       -1px 1px 0 #fff, 
        1px 1px 0 #fff;

    text-align: center;
}

/****************************/
/** Tablet / Mobile Styles **/
/****************************/
@media only screen and (max-width: 991px) {
    div.wrapper {
        grid-template-columns: 1fr;

        grid-template-areas:
            'nav'
            'header'
            'subheading'
            'homeLogin'
            'homeRegister'
    }

    li#home a {
        color: #fff;
        font-family: 'Lora';
        font-size: 1.7rem;
        padding-right: 0rem;
        padding-left: 0rem;
        margin-left: 0rem;
    }

    li#home a:focus {
        text-decoration: none;
        background-color: #4ca4bf;
        color: #23527c;
    }

    li#home a:hover {
        text-decoration: none;
        background-color: #4ca4bf;
        color: #23527c;
    }

    nav > ul > li > a {
        font-size: 1.7rem;
    }
}

/*************************/
/** Desktop Home Styles **/
/*************************/
nav {
    grid-area: nav;
}

nav ul {
    background-color: #5bc0de;
    font-size: 3.2rem;
}

nav ul li a {
    color: white;
}

ul#navigation > li > a:focus {
    background-color: #5bc0de;
}

ul#navigation > li > a:hover {
    background-color: #5bc0de;
}

ul#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-style: initial;
    position: relative;
}

div.wrapper {
    margin: 18rem;
    display: grid;
    /* Define the number of columns */
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
        'nav nav nav nav' 
        'header header header header' 
        'subheading subheading subheading subheading' 
        '. homeLogin homeRegister .';
    gap: 4rem;
}

header {
    grid-area: header;
}

h3#subheading {
    grid-area: subheading;
    font-size: 3rem;
    padding: 2rem;
}

a#homeLogin {
    background-color: #5bc0de;
    color: #fff;
    grid-area: homeLogin;
    font-size: 2.5rem;
    padding: 1.5rem;
}

a#homeLogin:focus {
    text-decoration: none;
    background-color: #4ca4bf;
    color: #23527c;
}

a#homeLogin:hover {
    text-decoration: none;
    background-color: #4ca4bf;
    color: #23527c;
}

a#homeRegister:focus {
    text-decoration: none;
    background-color: #4ca4bf;
    color: #23527c;
}

a#homeRegister:hover {
    text-decoration: none;
    background-color: #4ca4bf;
    color: #23527c;
}

a#homeRegister {
    background-color: #5bc0de;
    color: #fff;
    grid-area: homeRegister;
    font-size: 2.5rem;
    padding: 1.5rem;
}

index body {
    background: url("../images/home.jpg");
}

footer {
    text-align: right;
    padding-right: 2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}