/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Montserrat'; 
    text-align: center;
    background: url("../images/home.jpg");
    background-size: cover;
}

h1 {
    font-weight: 800;
    font-size: 6rem;
}

/*******************/
/** Mobile Styles **/
/*******************/


/*************************/
/** Desktop Home Styles **/
/*************************/
nav {
    grid-area: nav;
}

nav ul {
    background-color: #5bc0de;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 3.2rem;
}

nav ul li a {
        color: white;
}

ul#TEST > li > a:focus {
    background-color: #5bc0de;
}

ul#TEST > li > a:hover {
    background-color: #5bc0de;
}

#flexbox {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 3.2rem;
        padding: 1rem 0;
        color: #fff;
    }



#home {
    color: #fff;
    font-family: 'Lora';
    font-size: 3.5rem;
    padding-right: 8rem;
    padding-left: 3rem;
    margin-left: -10rem;
}

div.wrapper {
    margin: 18rem;
    display: grid;
    /* Define the number of columns */
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
        'nav nav nav nav'
        'header header header header' 
        'subheading subheading subheading subheading' 
        '. homeLogin homeRegister .';
        gap: 4rem;
}

header {
    grid-area: header;
}

h3#subheading {
    grid-area: subheading;
    font-size: 3rem;
    padding: 2rem;
}

a#homeLogin {
    background-color: #5bc0de;
    color: #fff;
    grid-area: homeLogin;
    font-size: 2.5rem;
    padding: 1.5rem;
}

a#homeRegister {
    background-color: #5bc0de;
    color: #fff;
    grid-area: homeRegister;
    font-size: 2.5rem;
    padding: 1.5rem;
}

index body {
    background: url("../images/home.jpg");
}

footer {
    text-align: right;
    padding-right: 2rem;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}