/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Montserrat'; 
    text-align: center;
    background: url("images/home.jpg");
    background-size: cover;
}

h1 {
    font-weight: 800;
    font-size: 6rem;
}

/*****************/
/** Home Styles **/
/*****************/
nav#navigation {
    background-color: #5bc0de;
    font-size: 2.8rem;
    color: #fff;
    border: none;
}

#flexbox {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 3.2rem;
        padding: 1rem 0;
        color: #fff;
    }

#flexbox li a {
    color: white;
}

 {
    color: white;
}

#home {
    font-family: 'Lora';
    font-size: 3.5rem;
    padding-right: 8rem;
    padding-left: 3rem;
    margin-left: -10rem;
}

div.wrapper {
    margin: 18rem;
    display: grid;
    /* Define the number of columns */
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
        'header header header' 
        'subheading subheading subheading' 
        '. login .'
}

header {
    grid-area: header;
}

h3#subheading {
    grid-area: subheading;
    font-size: 3rem;
    padding: 2rem;
}

a#login {
    grid-area: login;
    font-size: 2rem;
    padding: 1rem;
}