/******************/
/* Dashboard Grid */
/******************/
div.wrapper {
    display: grid;
    /*Define the number of columns */
    grid-template-columns: 1fr 4fr;
    /*create spacing between cells*/
    grid-gap: 15px;
    /*Define the number of columns */
    grid-template-areas: 
    'sidebar  window window window window'
}

div#userInfo {
    grid-area: window;
}

/******************/
/* Control Panel  */
/******************/
div#dashboardControlPanel {
    grid-area: sidebar;
    border-right: 3px solid #5b68de;
}

div#dashboardControlPanel > div > a:hover {
    text-decoration: none;
}