@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div id="dashboardControlPanel">

        <div>
            <a asp-controller="Dashboard" asp-action="Index">Overview</a>
        </div>
        <div>
            <a asp-controller="Dashboard" asp-action="SearchForFood">Search / Add Foods</a>
        </div>
        <div>
            <a asp-controller="Dashboard" asp-action="RecentFoods">See Recent Foods</a>
        </div>
        <div>
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <button value="submit" type="submit" id="controlPanelLogout">Log Off</button>
            </form>
        </div>
    </div>


