@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css"/>
    <link rel="stylesheet" href="~/css/login.css" />
</head>

<div id="login-container">
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="form-field">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" autocomplete="off"/>
            <span asp-validation-for="Username" class="error-msg"></span>
            @Html.ValidationMessage("username-nonexistent")
            @Html.ValidationMessage("username-blank")
        </div>
        <div class="form-field">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" autocomplete="off"/>
            <span asp-validation-for="Password" class="error-msg"></span>
        </div>
        <button type="submit" value="submit" class="btn form-field" id="login-button">Login</button>
    </form>
</div>