@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/register.css" />
<div id="register-content">
    <h2>Register</h2>

    <form asp-controller="Account" asp-action="Register" method="post">
        <div>
            <label asp-for="Username"></label>
            <input class="form-control" type="text" asp-for="Username" />
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input class="form-control" type="text" asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input class="form-control" type="text" asp-for="LastName" />
        </div>
        <div>
            <label asp-for="BirthDate"></label>
            <input class="form-control" type="datetime" asp-for="BirthDate" />
            <span asp-validation-for="BirthDate"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input class="form-control" type="text" asp-for="Email" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input class="form-control" type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input class="form-control" type="text" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div>
            <button value="submit" type="submit">Register</button>
        </div>
    </form>
</div>