
@{
    ViewData["Title"] = "AddFood";
}

<h2>Add A Food</h2>
<form asp-controller="Dashboard" asp-action="FoodResults" method="post">
    <label></label>
    <input type="text" />

    <button type="submit" value="Submit">Submit</button>
</form>

