@model SearchResults
@{
    ViewData["Title"] = "FoodResults";
}

<h2>Food Results</h2>

@foreach (var item in Model.FoodSearchResults)
{ 
    @*<img href="@item.PhotoUrl" />*@
    <p>@item.Name</p>
}
