@model SearchResults
@{
    ViewData["Title"] = "FoodResults";
}

<h2>Food Results</h2>

@if (Model.FoodSearchResults.Count == 0)
{
    <p>No foods found</p>
}
else
{
    @foreach (var item in Model.FoodSearchResults)
    {
        <div>
            <img src="@item.PhotoUrl" />
            <p>@item.Name</p>
            <form>

            </form>
        </div>
    }
}

