@model User
@{
    ViewData["Title"] = "Index";
}
<style>

    div.wrapper {
        display: grid;
    }

    ul#dashboardControlPanel {
        grid-area: sidebar;
        background-color: #eeeeef;
    }

div#userOverview {
        grid-area: window;
        display: block;
  
    }

div#mealManager {
        grid-area: window;
        display:none;

    }


    div.wrapper {
        /*Define the number of columns */
        grid-template-columns: 1fr 4fr;
        /*create spacing between cells*/
        grid-gap: 15px;
        /*Define the number of columns */
        grid-template-areas: 'sidebar  window window window window'
    }
</style>

<div class="wrapper">
    <ul id="dashboardControlPanel">

        <li>
            <button id="overview-button" type="submit">
                Overview
            </button>
        </li>

        <li>
            <button id="mealManager-button" type="submit">
                Meal Manager
            </button>
        </li>
        <li><a>Chat</a></li>
        <li><a>Set Reminders</a></li>
        <li><a>View Friends</a></li>
    </ul>

    <div>
        <div id="userOverview">
            <h1>I work!</h1>
            @await Component.InvokeAsync("Overview")
        </div>
        <div id="mealManager">
            <h1>I work too.</h1>
            @await Component.InvokeAsync("MealManager")
        </div>
    </div>
</div>


<script>
    document.getElementById("overview-button").addEventListener("click", displayOverview);
    document.getElementById("mealManager-button").addEventListener("click", displayMealManager);

    function displayOverview(event) {
        document.getElementById("userOverview").style.display = "block";
        document.getElementById("mealManager").style.display = "none";
        event.preventDefault();
    }

    function displayMealManager(event) {
        document.getElementById("mealManager").style.display = "block";
        document.getElementById("userOverview").style.display = "none";
        event.preventDefault();
    }
</script>


