@model User
@{
    ViewData["Title"] = "Index";
}
<style>

    div.wrapper {
        display: grid;
    }

    div#dashboardControlPanel {
        grid-area: sidebar;
        background-color: #eeeeef;
    }

    div#userOverview {
        grid-area: window;
        display: block;
    }

    div#addFood {
        grid-area: window;
        display: none;
    }
    div#recentFood {
        grid-area: window;
        display: none;
    }

    div#quickMeals {
        grid-area: window;
        display: none;
    }


    div.wrapper {
        /*Define the number of columns */
        grid-template-columns: 1fr 4fr;
        /*create spacing between cells*/
        grid-gap: 15px;
        /*Define the number of columns */
        grid-template-areas: 'sidebar  window window window window'
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>

<div class="wrapper">
    <div id="dashboardControlPanel">

        <div>
            <button id="overview-button" type="submit">
                Overview
            </button>
        </div>
        <div>
            <button id="addFood-button" type="submit">
                Seach and Add A Food
            </button>
        </div>
        <div>
            <button id="recentFood-button" type="submit">
                See Recent Foods
            </button>
        </div>
        <div>
            <button id="quickMeals-button" type="submit">
                See Quick Meals
            </button>
        </div>
    </div>

    <div>
        <div id="userOverview">
            @await Component.InvokeAsync("Overview")
        </div>
        <div id="addFood">
            @await Component.InvokeAsync("AddFood")
        </div>
        <div id="recentFood">
            <h1>See Recent Foods</h1>
        </div>
        <div id="quickMeals">
            <h1>See Quick Meals</h1>
        </div>
    </div>
</div>


<script>
    document.getElementById("overview-button").addEventListener("click", displayOverview);
    document.getElementById("addFood-button").addEventListener("click", displayAddFood);
    document.getElementById("recentFood-button").addEventListener("click", displayRecentFood);
    document.getElementById("quickMeals-button").addEventListener("click", displayQuickMeals);

    function displayOverview(event) {
        document.getElementById("userOverview").style.display = "block";
        document.getElementById("addFood").style.display = "none";
        document.getElementById("recentFood").style.display = "none";
        document.getElementById("quickMeals").style.display = "none";
        event.preventDefault();
    }

    function displayAddFood(event) {
        
        document.getElementById("userOverview").style.display = "none";
        document.getElementById("addFood").style.display = "block";
        document.getElementById("recentFood").style.display = "none";
        document.getElementById("quickMeals").style.display = "none";
        event.preventDefault();
    }

    function displayRecentFood(event) {
        
        document.getElementById("userOverview").style.display = "none";
        document.getElementById("addFood").style.display = "none";
        document.getElementById("recentFood").style.display = "block";
        document.getElementById("quickMeals").style.display = "none";
        event.preventDefault();
    }

    function displayQuickMeals(event) {
        document.getElementById("userOverview").style.display = "none";
        document.getElementById("addFood").style.display = "none";
        document.getElementById("recentFood").style.display = "none";
        document.getElementById("quickMeals").style.display = "block";
        event.preventDefault();
    }


</script>


