@model User
@{
    ViewData["Title"] = "Index";
}


<ul>
    <li>Overview</li>
    <li>Meal Manager</li>
    <li>Chat</li>
    <li>Set Reminders</li>
    <li>View Friends</li>
</ul>
<div id="userOverview">
    Find JS for user Overview
</div>
<div id="mealManager">
    <div>Add A Food</div>
    <div>Log Meals</div>
    <div>Add A Meal</div>
    <div>My Quick Meals</div>
</div>
<div id="userChat">
    Find JS for user Chat
</div>
<div id="userReminders">
    Twilio
</div>
<div id="userFriends">
    I don't know how to do this yet
</div>