@model IList<UserFood>
<head>
    <link rel="stylesheet" href="~/css/UserDashboard.css" />
    <link rel="stylesheet" href="~/css/recentFoods.css" />
</head>
<div class="wrapper">
    @await Component.InvokeAsync("DashboardNavigation")
    <div id="recentFoods">
        <h2>Recent Foods</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Add Food</th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var foodItem in Model)
                {
                <tr>
                    <td>@foodItem.FoodName</td>
                    <td>
                        <form asp-controller="Dashboard" asp-action="SaveFood" method="post">
                            <input type="hidden" name="name" value="@foodItem.FoodName" />
                            <input type="hidden" name="serving_unit" value="@foodItem.ServingUnit" />
                            <input type="hidden" name="serving_qty" value="@foodItem.ServingQuantity" />
                            <button class="btn" type="submit">Add</button>


                            <label>Meal Type</label>
                            <select name="mealId">
                                <option value="1">Breakfast</option>
                                <option value="2">Lunch</option>
                                <option value="3">Dinner</option>
                                <option value="4">Snack</option>
                                <option value="5">Dessert</option>
                            </select>


                            <label>Number of Servings: </label>
                            <select name="numberOfServings">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </form>
                    </td>

                </tr>

                }
            </tbody>
        </table>
    </div>
</div>