@model IList<UserFood>
<head>
    <link rel="stylesheet" href="~/css/UserDashboard.css" />
</head>
<div class="wrapper">
    @await Component.InvokeAsync("DashboardNavigation")
    <div id="userInfo">
        <h2>Recent Foods</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Meal</th>
                    <th>Edit</th>
                    <th>Add</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var foodItem in Model)
                {
                    <tr>
                        <td>@foodItem.FoodName</td>
                        <td>@foodItem.DateOfEntry.ToShortDateString()</td>

                        @if (foodItem.MealId == 1)
                        {
                            <td>Breakfast</td>
                        }
                        @if (foodItem.MealId == 2)
                        {
                            <td>Lunch</td>
                        }
                        @if (foodItem.MealId == 3)
                        {
                            <td>Dinner</td>
                        }
                        @if (foodItem.MealId == 4)
                        {
                            <td>Snack</td>
                        }
                        @if (foodItem.MealId == 5)
                        {
                            <td>Dessert</td>
                        }
                        <td>
                            <form>
                                <button class="btn">Edit</button>
                            </form>
                        </td>
                        <td>
                            <form>
                                <button class="btn" type="submit" asp-controller="Dashboard" asp-action="SaveFood">Add</button>
                            </form>
                        </td>
                        <td>
                            <form>
                                <button class="btn">Delete</button>
                            </form>
                        </td>
                    </tr>

                }
                <input type="hidden" name="" value="" />
                <!-- int userId, string name, string imgurl, string serving_unit, float serving_qty -->


            </tbody>
        </table>
    </div>
</div>