@model FoodPreview
@{
    ViewData["Title"] = "SearchForFood";
}
<head>
    <link rel="stylesheet" href="~/css/UserDashboard.css" />
</head>
<style>
    
</style>
<div class="wrapper">
 
        @await Component.InvokeAsync("DashboardNavigation")
 
    <div id="foodSearch">
        <h2>Search For Food</h2>
        <form asp-controller="Dashboard" asp-action="FoodResults" method="get">
            <input type="text" asp-for="Name" autocomplete="off" />
            <button class="btn btn-info" type="submit" value="Submit">Search</button>
        </form>
    </div>
</div>