@model FoodItem
@{
    ViewData["Title"] = "ViewFoodDetail";
}

<h2>Nutrition Details for @Model.foods[0].Name</h2>
<img src="@Model.foods[0].Imgurl" />
@*<img src="@Model.PhotoUrl" />*@
<form>
    <input type="hidden" name="name" value="" />
    <input type="hidden" name="name" value="" />
    <button>Add Food</button>
</form>
