@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<p>Overview</p>
<div id="userOverview">
    Find JS for user Overview
</div>