@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/navigation.css" />
@if (Model == null)
{
    <nav id="homeNav">
        <ul class="nav nav-pills" id="default-navigation">
            <li class="nav-item" id="home"><a asp-area="" asp-controller="Home" asp-action="Index">Tech Fitness Pal</a></li>
            <li class="nav-item pull-right"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li class="nav-item pull-right"><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
            <li class="nav-item pull-right"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        </ul>
    </nav>

}
else
{

<nav>
    <ul class="nav nav-pills" id="dashboard">
        <li class="nav-item" id="home"><a asp-area="" asp-controller="Home" asp-action="Index">Tech Fitness Pal</a></li>
        <li class="nav-item dropdown pull-right">
            <a class="nav-link dropdown-toggle" id="dashboard-welcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Hello @Model.Username &#x25BC
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
                <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Account" asp-action="ViewProfile">View Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <form asp-controller="Account" asp-action="LogOff" method="post">
                    <button class="dropdown-item" value="submit" type="submit" id="logout-button">Log Off</button>
                </form>
            </div>
        </li>
    </ul>
</nav>
}
